@media (max-width: 830px) {
  #navbar {
    width: 100%;
    justify-content: space-evenly;
  }

  .product-layout {
    display: flex;
    flex-direction: column;
  }
  .product-layout__sidebar--left {
    height: 300px;
  }
  .product-layout__sidebar--right {
    display: none;
  }
  /* Hamburger menu */
  .hamburger-icon {
    display: block;
    padding: 1rem;
  }
  .nav-links {
    position: fixed;
    top: 3rem;
    left: -100%;
    height: 100vh;
    width: 15rem;
    background-color: var(--secondary-color-dark);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    box-shadow: -2px 0 5px rgb(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
  }
  .nav-links li {
    width: 100%;
    text-align: left;
  }

  .nav-links a {
    display: block;
    width: 100%;
  }

  #menu-checkbox:checked ~ .nav-container .nav-links {
    left: 0;
  }
  #menu-checkbox:checked ~ .nav-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 999;
  }
  /* Cart */
  .cart-icon {
    position: absolute;
    margin-left: 0.5rem;
    right: 1rem;
  }
  .info-section p {
    display: none;
  }
  #footer {
    width: 100%;
    flex-direction: row;
  }
  #footer-links {
    display: none;
  }
  #footer-section.open #footer-links {
    display: block;
  }
  /*Carousel*/
  img.displaySlide {
    display: block;
    width: 20rem;
    object-fit: cover;
  }
  /*Product page*/
  .product-details {
    display: flex;
    order: 1;
  }
  .product-layout__sidebar--left {
    justify-items: center;
    order: 2;
  }
  .similar-product-list {
    width: 20rem;
    justify-items: center;
  }
  /*Checkout page*/
  #checkout-container {
    max-width: 400px;
  }
}
