@media (max-width: 1100px) {
  .signup-wrapper {
    width: min(600px, 100%);
  }
}
@media (max-width: 830px) {
  #navbar {
    width: 100%;
    justify-content: space-evenly;
  }

  .product-layout {
    display: flex;
    flex-direction: column;
  }
  .product-layout__sidebar--right {
    width: 100%;
    height: auto;
  }
  /* Hamburger menu */
  .hamburger-icon {
    display: block;
    padding: 1rem;
  }
  .nav-links {
    position: fixed;
    top: 3rem;
    left: -100%;
    height: 100vh;
    width: 15rem;
    background-color: var(--secondary-color-dark);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
    box-shadow: -2px 0 5px rgb(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
  }
  .nav-links li {
    width: 100%;
    text-align: left;
  }

  .nav-links a {
    display: block;
    width: 100%;
  }

  #menu-checkbox:checked ~ .nav-container .nav-links {
    left: 0;
  }
  #menu-checkbox:checked ~ .nav-container::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 999;
  }
  /* Cart */
  .cart-icon {
    position: absolute;
    margin-left: 0.5rem;
    right: 1rem;
  }
  /* Footer */
  #footer {
    width: 100%;
    flex-direction: row;
  }
  .footer-section {
    width: 100px;
  }
  .footer-section h2 {
    font-size: medium;
  }
  .info-section p,
  .about-us-section a {
    font-size: small;
    padding: 5px;
  }

  #footer-links {
    display: none;
  }
  #footer-section.open #footer-links {
    display: block;
  }
  .partner-icons {
    height: 30px !important;
    margin: 2px !important;
    padding: 2px !important;
  }
  /*Carousel*/
  img.displaySlide {
    display: block;
    width: 20rem;
    object-fit: cover;
  }
  /*Product page*/
  .product-details {
    display: flex;
    order: 1;
  }
  .product-layout__sidebar--left {
    order: 2;
  }

  .similar-product-list {
    width: 20rem;
    justify-items: center;
  }

  /* Signup */
  .signup-wrapper {
    width: 250px;
    height: 100vh;
    padding-bottom: 20px;
  }
  /*Checkout page*/
  #productContainer {
    flex: flex;
    flex-direction: column;
    height: auto;
  }
  .left {
    order: 1;
    width: 100%;
  }
  .center {
    order: 2;
    width: 100%;
    border: none;
    height: auto;
  }
  .right {
    order: 3;
    width: 100%;
  }
  .force {
    padding-left: 0 !important;
  }
}
