@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("./variables.css");
* {
  font-family: "GFS Didot", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
}



main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  border: solid black 2px;
}

.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* --- Carousel --- */
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

img.displaySlide {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  object-fit: contain;
  animation-name: fadeIn;
  animation-duration: 2s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: #e9b88f;
  color: #524a46;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


