@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");

* {
  font-family: "GFS Didot", Verdana, Geneva, Tahoma, sans-serif;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  border: solid black 2px;
}

.container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
