@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("./variables.css");
@import url("/css/media.css");

* {
  font-family: "GFS Didot", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background: var(--primary-color-beige);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.container img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.image:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* --- Carousel --- */
.carousel-container {
  background-color: var(--primary-color-dark-orange);
}

.slider {
  position: relative;
  width: min-content;
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
}

.inspectBtn {
  position: absolute;
  bottom: 15%;
  left: 10%;
  padding: 0.5rem 1rem;
  width: 10em;
  box-shadow: var(--button-shadow);
  border-radius: var(--rounded-corners);
  border: none;
  background: var(--button-color);
  cursor: pointer;
  font-size: 0.9rem;
}

.inspectBtn:hover {
  box-shadow: var(--button-hover-shadow);
  transform: translateY(0.2rem);
}

.inspectBtn:active {
  transform: scale(0.8);
}

.slider img {
  width: 100%;
  display: none;
}

img.displaySlide {
  display: block;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: #e9b88f;
  color: #524a46;
  border-radius: var(--rounded-corners);
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  opacity: 0.7;
}

@keyframes fadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

video {
  margin: 20px 25%;
}

.info ul {
  background-color: var(--primary-color-dark-beige);
  position: absolute;
  top: 100px;
  padding: 0;
  list-style-type: none;
}
