 :root {/* Primary colors */
 --primary-color-beige: #E9B88F;
 --primary-color-dark-beige: #B97D60;
 --primary-color-orange: #F0A160;
 --primary-color-dark-orange: #F54D3D;

 /* Secondary colors */

 /*Accent colors */

 /*Neutral colors */

 /* Headings */
 --font-size-h1: ;
 --font-size-h2: ;
 --font-size-h3: ;
 }
 