 :root {/* Primary colors */
 --primary-color-beige: #E9B88F;
 --primary-color-dark-beige: #B97D60;
 --primary-color-orange: #F0A160;
 --primary-color-dark-orange: #F54D3D;

 /* Secondary colors */
--secondary-color-light-grey: #D5CDC1;
--secondary-color-dark-grey: #6D6C6B;
--secondary-color-brown: #806C64;
--secondary-color-dark: #524A46;
 /*Accent colors */

 /*Neutral colors */

 /* Headings */
 --font-size-h1: ;
 --font-size-h2: ;
 --font-size-h3: ;
 }
 