#cart {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 50px;
  width: 300px;
  background: var(--secondary-color-light-grey);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
#cart-items {
  flex: 1;
}
#cart button {
  background-color: var(--primary-color-beige);
  border-radius: var(--rounded-corners);
  border: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  margin: 5px;
}
#cart-total {
  font-weight: 700;
}

.cart-row {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  margin: 5px;
}

.cart-row button {
  height: 30px;
  margin: 5px 10px;
}

.cart-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.qty {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hidden {
  display: none !important;
}

/* Checkout */
.checkout-header {
  font-size: var(--font-size-h1);
  display: flex;
  align-items: center;
}
#checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
  background-color: ;
  font-size: var(--font-size-h2);
  max-width: 1200px;
}
.checkoutForm {
  max-width: 450px;
  border: 3px solid grey;
}

.personalInfo {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  padding: 5px;
}

input[type="text"],
[type="email"] {
  width: 400px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
}

.checkout-items {
  border: 2px solid grey;
  margin: auto;
}

.checkout-total {
  margin: auto;
}

#check-out {
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: var(--rounded-corners);
  background-color: var(--button-color);
  box-shadow: var(--button-shadow);
  color: #fff;
  border: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 6px solid green;
}

#closeModal {
  width: 100px;
  height: 30px;
  margin: auto;
  background-color: green;
  color: #fff;
  border: none;
}
