#cart {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 50px;
  width: 300px;
  background: var(--secondary-color-light-grey);
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
#cart-items {
  flex: 1;
}
#cart button {
  background-color: var(--primary-color-beige);
  border-radius: var(--rounded-corners);
  border: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  margin: 5px;
}
#cart-total {
  font-weight: 700;
}

.cart-row {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  margin: 5px;
}

.cart-row button {
  height: 30px;
  margin: 5px 10px;
}

.cart-row img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.qty {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hidden {
  display: none !important;
}
