@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
}

#productContainer {
  background-color: white;
  display: flex;
  margin: 50px auto;
  width: 80%;
  height: auto;
  border: 1px solid var(--secondary-color-dark);
}

.left {
  width: 35%;
  font-weight: bold;
}

.left p {
  padding: 30px 20px;
}

.methods {
  padding: 10px 0;
}
.methods div {
  padding: 7px 20px;
  cursor: pointer;
  font-size: 15px;
}
.methods div:hover {
  box-shadow: 0 0 10px var(--secondary-color-dark);
}
.methods div::after {
  content: "";
  display: inline-block;
  color: red;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-left-color: blue;
  margin-left: 10px;
}
.fa-credit-card,
.fa-building-columns,
.fa-wallet {
  margin-right: 10px;
  font-size: 22px;
  color: var(--primary-color-dark-beige);
}
.center {
  width: 50%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  height: 100vh;
}
.center img {
  width: 60px;
  padding: 15px;
  margin: auto;
  align-self: center;
}
.right {
  width: 35%;
}
.right p {
  padding: 30px 20px;
  font-weight: bold;
}
.details {
  padding: 20px 20px;
}
.card-details {
  padding: 20px 50px;
}
.card-details #cNumber {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: var(--rounded-corners);
  padding: 0 12px;
  margin-top: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  border: none;
  border-radius: var(--rounded-corners);
  outline: none;
}
.c-details {
  display: flex;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}
.c-details > div {
  flex: 1;
}
.cc-exp {
  border: 1px solid #aaa;
  border-radius: var(--rounded-corners);
  height: 20px;
  margin-top: 10px;
  padding: 12px;
  width: 100%;
}
.c-details .cvv-box {
  border: 1px solid #aaa;
  margin-top: 26px;
  padding: 0 12px;
  height: 44px;
  border-radius: var(--rounded-corners);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cc-cvv {
  width: 100%;
  gap: 5px;
}
.force {
  padding-left: 15px;
}
.email input {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: var(--rounded-corners);
  padding: 12px;
  margin-top: 10px;
  height: 20px;
}
button {
  width: 100%;
  height: 30px;
  background-color: var(--button-color);
  box-shadow: var(--button-shadow);
  border: none;
  border-radius: var(--rounded-corners);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}
button:hover {
  background-color: #444;
  color: white;
  cursor: pointer;
}
