.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--primary-color-dark-orange);
  border-top: 1px solid var(--secondary-color-dark);
  padding-bottom: 10px;
}
.footer img {
  height: 50px;
}
.partner-icons {
  padding: 5px;
  margin: 5px;
}
.footer-section {
  width: 300px;
}
.footer-section li {
  list-style: none;
  padding: 5px 0 5px 0;
}
.footer-section ul {
  padding: 0;
}
.footer-section a {
  color: black;
  text-decoration: none;
}
