@import url(/css/media.css);
@import url(/css/variables.css);
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color-dark-orange);
  box-shadow: 0 10px rgba(0, 0, 0, 0.15);
}
.footer p {
  font-size: 1.1rem;
}
.footer img {
  height: 50px;
}
.partner-icons {
  padding: 5px;
  margin: 5px;
}
.footer-section {
  width: 200px;
}
.footer-section li {
  list-style: none;
  padding: 5px 0 5px 0;
}
.footer-section ul {
  margin: 0;
  padding: 0;
}
.footer-section a {
  color: black;
  text-decoration: none;
}
