nav {
  background-color: var(--primary-color-dark-orange);
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav ul {
  margin: 5px;
  list-style-type: none;
}
nav li {
  display: flex;
  margin: 0 15px;
}
li a {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin: 5px;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: .3 ease;
}

.ham-menu span:nth-child(1) {
    top: 50%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}
.off-screen-menu {
    background-color: var(--primary-color-dark-orange);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;

}