/* --- Product Card --- */
.product-details {
  border: 2px solid var(--primary-color-dark-orange);
  margin: 50px auto;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
.product-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.product-details {
  padding: 10px;
}

.reviews {
  font-weight: 700;
  font-style: oblique;
}

.product-share {
  position: relative;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.back-button {
  text-decoration: none;
  color: black;
}

.back-button:hover {
  text-decoration: underline;
}
#sizeSelect {
  float: right;
}

.tooltip-text {
  position: absolute;
  width: 120px;
  background-color: var(--primary-color-dark-orange);
  color: white;
  text-align: center;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  border-radius: 4px;
  display: inline-block;
  border-bottom: 1px dotted black;
}
