/* --- Signup Form --- */
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("../variables.css");

* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
    font-family: "GFS Didot", Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/assets/img/baris-selcen-NcKZUp4FXaQ-unsplash.jpg);
    object-fit: contain;
}

.signup-wrapper {
  box-sizing: border-box;
  background-color: var(--secondary-color-light-grey);
 
}